/*            main            */


body {
  max-width: 1000px;
  margin-left: 50px;
  padding: 50px;
  background-color: #88adf6;
  font-family: monospace;
}

li {
  display: inline;
  margin: 10px;
  text-decoration: underline;
  text-decoration-color: #ececf9; 
}





/*            structure            */
.photocap{
  border: 10px;
  float: left;
}

.photolinkblock {
  
}

.photogroup {
  display: block;
  height: 530px;
}

.photogrouplast {
  margin-bottom: 50px;
}



/*            text            */

p.bodytext {
  color: #18184e;
  font-size: 18px;
  text-align: left;
  font-family: serif;
}

.links {
  list-style: none;
  border: none;
  font-size: 20px;
}

.links a {
    color: #551A8B;
    text-decoration: underline;
    text-decoration-color: #c4e0ca;
}

.link {
  border-style: solid;
  border-color: #551A8B;
  border-width: 2px;
  padding: 5px;
  background-color: #c4e0ca; 
}

.header {
  color: #c4e0ca;
  border-style: solid;
  border-color: #551A8B;
  border-width: 2px;
  font-size: 40px;
  text-decoration: underline;
  text-decoration-color: #ececf9; 
  padding: 5px;
  font-family: serif;
  background-color: #f3f1ff;
}

  #index {
    width: 200px;
    background-color: #88adf6;
  }

  #aboutme {
    width: 730px;
    background-color: #88adf6;
  }

  #music {
    width: 200px;
    background-color: #88adf6;
  }

  #photos{
    width: 200px;
    background-color: #88adf6;
  }

.subheader {
  font-size: 30px;
}

p.footer{
  color: black;
  font-size: 12px;
}

.trashcaption{
  font-size: 16px;
  width: 200px;
  background-color: #c4e0ca;
}




/*            images            */

#jessandgreens {
  width: 600px;
  padding-left: 100px
}

.trashpic{
  width: 200;
}