@media only screen and (min-width: 768px) {
  a {
    text-decoration: none;
    color: #542300;
    margin: 0px;
  }
  a :hover {
    text-decoration: none;
  }
  p {
    color: #542300;
    font-family: 'robotoreg';
    font-size: 14pt;
    margin: 0px;
  }
  body {
    background-size: 100% 100%;
    background-repeat: no-repeat;
  }
  #index-body {
    background-image: url('../media/indexbackground-resized.png');
    width: 100vw;
    height: 100vh;
    overflow: hidden;
  }
  #about-body {
    background-image: url('../media/aboutbackground.png');
    min-height: 100vh;
  }
  .header-title {
    font-family: 'cloisterblack';
    font-size: 24pt;
  }
  .header-text {
    font-family: 'fluxlight';
    margin-top: 3px;
  }
  .nav-link {
     fill: transparent;
   }
  .nav-link:hover {
    fill: white;
    text-decoration: none;
  }
                    /*      SUBPAGES      */
  .subpage-sidebar {
    text-align: center;
    width: 300px;
    position: fixed;
  }
  .subpage-content {
    margin-left: 300px;
    width: 900px;
  }
  .subpage-nav {
    height: 210px;
    width: 210px;
    margin-top: 30px;
  }
  .subpage-title {
    font-family: 'arialrounded';
    text-align: center;
    margin: 35px;
    font-size: 24px;
  }
                    /*      INDEX      */
  #index-container {
    text-align: center;
  }
  #index-header {
    margin: auto;
    margin-top: 70px;
  }
  #index-nav {
    height: 250px;
    width: 250px;
    position: absolute;
    top:0px;
    bottom: 0px;
    right: 0px;
    left: 0px;
    margin: auto;
  }
                    /*      ABOUT      */
  .slideshow {
    width: 70%;
    margin: auto
  }
  #slideshow-wrapper{
    height: 430px;
  }
                    /*      FONTS      */
  @font-face {
    font-family: 'arialrounded';
    src: url('../fonts/ArialRoundedBold.ttf')
  }
  @font-face {
    font-family: 'fluxbold';
    src: url('../fonts/FluxischElse-Bold.otf')
  }
  @font-face {
    font-family: 'fluxreg';
    src: url('../fonts/FluxischElse-Regular.otf')
  }
  @font-face {
    font-family: 'fluxlight';
    src: url('../fonts/FluxischElse-Light.otf')
  }
  @font-face {
    font-family: 'andalemono';
    src: url('../fonts/AndaleMono.ttf');
  }
  @font-face {
    font-family: 'cloisterblack';
    src: url('../fonts/CloisterBlack.ttf');
  }
  @font-face {
    font-family: 'myriadproregular';
    src: url('../fonts/MYRIADPRO-REGULAR.woff');
  }
  @font-face {
    font-family: 'robotoreg';
    src: url('../fonts/Roboto-Regular.ttf');
  }
}

@media only screen and (max-width: 768px) {
  a {
    text-decoration: none;
    color: #542300;
    margin: 0px;
  }
  a :hover {
    text-decoration: none;
  }
  p {
    color: #542300;
    font-family: 'robotoreg';
    font-size: 14pt;
    margin: 0px;
  }
  body {
    background-size: 100% 100%;
    background-repeat: no-repeat;
  }
  #index-body {
    background-image: url('../media/indexbackground-resized.png');
    width: 100vw;
    height: 100vh;
    overflow: hidden;
  }
  #about-body {
    background-image: url('../media/aboutbackground.png');
    min-height: 100vh;
  }
  .header-title {
    font-family: 'cloisterblack';
    font-size: 24pt;
  }
  .header-text {
    font-family: 'fluxlight';
    margin-top: 3px;
  }
  .nav-link {
     fill: transparent;
   }
  .nav-link:hover {
    fill: white;
    text-decoration: none;
  }
                    /* SUBPAGES */
  .subpage-sidebar {
    text-align: center;
    margin-top: 30px;
    width: 100%
  }
  .subpage-content {
    width: 100%;
  }
  .subpage-nav {
    height: 210px;
    width: 210px;
    margin-top: 30px;
  }
  .subpage-title {
    font-family: 'arialrounded';
    text-align: center;
    margin: 35px;
    font-size: 24pt;
  }
                    /* INDEX */
  #index-container {
    text-align: center;
  }
  #index-header {
    margin: auto;
    margin-top: 15px;
  }
  #index-nav {
    height: 220px;
    width: 220px;
    position: absolute;
    top:0px;
    bottom: 0px;
    right: 0px;
    left: 0px;
    margin: auto;
  }
                    /* ABOUT */
   .slideshow {
     width: 90%;
     margin: auto
   }
   #about-bio {
     width: 90%;
     margin: auto;
     font-size: 13pt;
   }
                    /* FONTS */
  @font-face {
    font-family: 'arialrounded';
    src: url('../fonts/ArialRoundedBold.ttf')
  }
  @font-face {
    font-family: 'fluxbold';
    src: url('../fonts/FluxischElse-Bold.otf')
  }
  @font-face {
    font-family: 'fluxreg';
    src: url('../fonts/FluxischElse-Regular.otf')
  }
  @font-face {
    font-family: 'fluxlight';
    src: url('../fonts/FluxischElse-Light.otf')
  }
  @font-face {
    font-family: 'andalemono';
    src: url('../fonts/AndaleMono.ttf');
  }
  @font-face {
    font-family: 'cloisterblack';
    src: url('../fonts/CloisterBlack.ttf');
  }
  @font-face {
    font-family: 'myriadproregular';
    src: url('../fonts/MYRIADPRO-REGULAR.woff');
  }
  @font-face {
    font-family: 'robotoreg';
    src: url('../fonts/Roboto-Regular.ttf');
  }
}
