@media only screen and (min-width: 768px) {
  #column1 {
    text-align: center;
  }
  #column2 {
    width: 73vw;
    float: right;
  }
  #home_header {
    margin: auto;
    margin-top: 70px;
  }
  .subpage_header {
    position:absolute;
    top: 10px;
    left: 10px;
    text-align: center;
    }
  .name_header {
    font-family: 'cloisterblack';
    font-size: 24pt;
  }
  .slideshow {
    width: 50%;
    float: right;
  }
  .nav_svg {
    height: 250px;
    width: 250px;
    position: absolute;
    top:0px;
    bottom: 0px;
    right: 0px;
    left: 0px;
    margin: auto;
  }
  .subpage_nav {
    height: 250px;
    width: 250px;
    margin-top: 20px;
  }
 .navlink {
    fill: transparent;
  }
  .navlink:hover {
     fill: white;
     text-decoration: none;
   }
  #indexBody {
    background-image: url('../media/indexbackground-resized.png');
    background-size: 105% 105%;
    background-repeat: no-repeat;
    height:100vh;
    width: 100vw;
    overflow: hidden;
  }
  #aboutBody {
    background-image: url('../media/aboutbackground.png');
    background-size: 105% 105%;
    background-repeat: no-repeat;
    height:100vh;
    width: 100vw;
    overflow: hidden;
  }
  a {
    text-decoration: none;
    color: #542300;
    margin: 0px;
  }
  a :hover {
    text-decoration: none;
  }
  p {
    color: #542300;
    font-family: 'myriadproregular';
    font-size: 14pt;
    margin: 0px;
  }
  #about_body {
    position: absolute;
    left: 0px;
    right: 0px;
    margin: auto;
    width: 60vw;
  }
  @font-face {
    font-family: 'andalemono';
    src: url('../fonts/AndaleMono.ttf');
  }
  @font-face {
    font-family: 'cloisterblack';
    src: url('../fonts/CloisterBlack.ttf');
  }
  @font-face {
    font-family: 'myriadproregular';
    src: url('../fonts/MYRIADPRO-REGULAR.woff');
  }
}

@media only screen and (max-width: 768px) {
  #column1 {
    text-align: center;
  }
  #column2 {
    display: hidden;
    width: 100vw;
    height: 50vh;
  }
  .header {
    margin-top: 15px;
  }
  .homelink {
    font-family: 'cloisterblack';
    font-size: 24pt;
  }
  #pcsvg {
    height: 220px;
    width: 220px;
    position: absolute;
    top:0px;
    bottom: 0px;
    right: 0px;
    left: 0px;
    margin: auto;
  }
 .navlink {
    fill: transparent;
  }
  .navlink:hover {
     fill: white;
     text-decoration: none;
   }
  .slideshow {
    position: absolute;
    width: 90vw;
    bottom:5vw;
    margin-left: 5vw;
    margin-right: 5vw;
   }
  #indexBody {
    background-image: url('../media/indexbackground-resized.png');
    background-size: 105% 105%;
    background-repeat: no-repeat;
    height:100vh;
    width: 100vw;
    overflow: hidden;
  }

  #aboutBody {
    background-image: url('../media/aboutbackground.png');
    height:100vh;
    width: 100vw;
    overflow: hidden;
    width: 30vw;
  }
  a {
    text-decoration: none;
    color: #542300;
    margin: 0px;
  }
  a :hover {
    text-decoration: underline;
  }
  p {
    color: #542300;
    font-family: 'myriadproregular';
    font-size: 14pt;
    margin: 0px;
  }
  #currentpage {
    text-decoration: line-through;
    font-style: italic;
  }
  #abouttextblock {
    position: absolute;
    left: 0vw;
    right: 0vw;
    margin-left: 20vw;
    margin-right: 25vw;
    top: 35px;
  }
  @font-face {
    font-family: 'andalemono';
    src: url('../fonts/AndaleMono.ttf');
  }
  @font-face {
    font-family: 'cloisterblack';
    src: url('../fonts/CloisterBlack.ttf');
  }
  @font-face {
    font-family: 'myriadproregular';
    src: url('../fonts/MYRIADPRO-REGULAR.woff');
  }
}
