body {
  overflow-x: hidden;
}
a {
  text-decoration: none;
}
p {
}
svg {
  pointer-events:fill;
}
svg path {
  width: 100%;
  height:auto;
}
#indexBody {
  background-color: #add8e6;
}

                                /* HEADER */

.nameHeader {
  font-family: 'TamilMN.ttf';
  font-size: 40px;
  text-align: center;
  max-width:300px
  padding: auto;
}
.nameHeader p:hover{
  color:blue;
}
.nameHeader p{
  text-align: center;
}

                          /* SUBHEADER LINKS */
#unit {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  height: 230px;
  width: 335px;
  margin: auto;
  background-color: white;
  display: table;
}
.indexNav {
  display: table-cell;
  vertical-align: middle;
  font-family: 'ArialRB.ttf';
  font-size: 17pt;
  color: black;
  z-index: 2;
  text-align: center;
}
                      /* BLOBS - PATHS AT <SVG> LEVEL */

#pcsvg{
fill:#e7e496;

z-index: -1;
display: block;
}
#pcsvg :hover {
fill:#ffffff;
}


@font-face {
  font-family: 'TamilMN.ttf';
  src: url('../fonts/TamilMN.ttf');
}
@font-face {
  font-family: 'ArialRB.ttf';
  src: url('../fonts/ArialRoundedBold.ttf');
